.header {
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky; /** stick to the top of the page */
    top: 0; 
    z-index: 100;
}
.header__logo {
    width: 100px;
    object-fit: contain; /** always keep the image fit in screen don't strech*/
    margin: 0 20px ; /** margin top 0 and Margin left and right 20px*/
    margin-top: 18px;
}

.header__search {
    display: flex;
    flex: 1; /** try to use space as much as possible*/
 }

.header__searchIcon {
    padding: 5px;
    height: 22px !important; /** Ignore material UI height css */
    background-color: #cd9042;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__link {
    color: white;
    text-decoration: none; /** This will remove hypelink underscore __*/
}

.header__option {
    display: flex; /** flex box*/
    flex-direction: column;
    margin: 0 10px ;
}

.header__optionLine1 {
    font-size: 10px;
}

.header__optionLine2 {
    font-size: 13px;
    font-weight: 800;
}

.header__optionBasket {
    display: flex;
    align-items: center;
}

.header__optionBasketCount {
    margin: 0 10px;
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}